<div class="" id="accordion">
    <div class="panel">
        <div class="">
            <h3 class="panel-title">
                    Poradniki
            </h3>
        </div>
        <div id="tutorials" class="doco-section">
            <div class="flex-column">
                <a class="nav-link" href="/help/tutorials/personal_channel">Osobisty kanał</a>
            </div>
        </div>
    </div>
    <div class="">
        <div class="panel">
            <h3 class="panel-title">
                    Dla członków
            </h3>
        </div>
        <div id="members" class="doco-section">
            <div class="flex-column">
               <a class="nav-link" href="/help/member/member_guide">Przewodnik</a>
               <a class="nav-link" href="/help/member/bbcode">Informator o BBcode</a>
               <a class="nav-link" href="/help/feature/additional/overview">Dodatkowe możliwości</a>
               <a class="nav-link" href="/help/bugs">Zgłaszanie błędów</a>
               <a class="nav-link" href="/help/member/member_faq">FAQ</a>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="">
            <h3 class="panel-title">
                    Dla administratorów
            </h3>
        </div>
        <div id="administrators" class="doco-section">
            <div class="flex-column">
                <a class="nav-link" href="/help/admin/administrator_guide">Przewodnik</a>
                <a class="nav-link" href="/help/admin/hub_snapshots">Migawki węzła</a>
                <a class="nav-link" href="/help/database">Baza danych</a>
                <a class="nav-link" href="/help/hidden_configs">Dodatkowa konfiguracja</a>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="">
            <h3 class="panel-title">
                    Dla deweloperów
            </h3>
        </div>
        <div id="developers" class="doco-section">
            <div class="flex-column">
                <a class="nav-link" href="/help/developer/developer_guide">Przewodnik</a>
                <a class="nav-link" href="/help/developer/covenant">Kodeks postępowania</a>
                <a class="nav-link" href="/help/developer/zot_protocol">Protokół Zot</a>
                <a class="nav-link" href="/help/developer/api_zot">API Zot</a>
                <a class="nav-link" href="/help/hooklist">Zaczepy</a>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="">
            <h3 class="panel-title">
                    Informacje o ...
            </h3>
        </div>
        <div id="about" class="doco-section">
            <div class="flex-column">
                <a class="nav-link" href="/help/about/about">Platforma</a>
                <a class="nav-link" href="/help/about/project">Projekt</a>
                <a class="nav-link" href="/help/about/about_hub">Serwis HUBZILLA.PL</a>
            </div>
        </div>
    </div>
</div>
