<dl class="dl-horizontal">
    <dt>Ogólne</dt>
    <dd>
    Statystyki kolejki pokazują, ile postów znajduje się w kolejce do dostarczenia
    do innych węzłów. Priorytet jest powiązany z liczbą nieudanych prób dostawy.
    </dd>
</dl>