Спасибо за регистрацию на {{$sitename}}!

Ваши данные для входа:

Cайт: {{$siteurl}}
Имя: {{$email}}

Войдите в систему с паролем, который вы выбрали при регистрации.

Нам необходимо подтвердить ваш адрес электронной почты, чтобы предоставить вам полный доступ.

Ваш проверочный код

{{$hash}}


{{if $due}}{{$due}}{{/ if}}



Если вы зарегистрировали эту учетную запись, введите код подтверждения при запросе или перейдите по следующей ссылке:

{{$siteurl}}/regate/{{$mail}}


Чтобы отклонить запрос и удалить учетную запись, посетите:


{{$siteurl}}/regate/{{$mail}}{{if $ko}}/{{$ko}}{{/if}}


Спасибо.


-
Условия обслуживания:
{{$siteurl}}/help/TermsOfService 
